.project {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  align-items: center;
  text-align: center;
  width: 260px;
  height: 250px;
  /* margin: 10px; */
  margin: 10px auto;
}
.projectImageDiv {
  /* border: 1px solid blue; */
  display: flex;
  /* width: auto; */
}
.projectImageDiv img {
  /* border: 1px solid red; */
  height: 200px;
  width: 260px;
  transition: 0.3s !important;
  cursor: pointer;
}
.projectImageDiv img:hover {
  transform: rotate(5deg) scale(1.1);
}

@media only screen and (max-width: 620px) {
  .projectImageDiv img {
    height: 116px;
    width: 150px;
  }
  .project {
    width: 116px;
    height: 200px;
  }
}
